#loading-notif{
    color: black;
    background: #fff7006b;
    padding: 15px 15px 15px 20px;
    width: 100%;
}
#error-notif{
    color: black;
    background: #ff000029;
    padding: 15px 15px 15px 20px;
    width: 100%;
    display:none;
}
.create-todo{
    width: 100%;
}
.field-element{
    width: 100%;
    padding: 10px;
    border:1px solid #ddf;
}

.create-container{
    display: none;
}
.form-box{
    /*border: 1px solid #999;*/
    border-radius: 5px;
    padding: 0px 20px 20px 20px ;
}
.highlight__x{
    -webkit-animation: blue-fade 2s ease-in 1;
    animation: blue-fade 2s ease-in 1;
    padding:0px 0px ;
}
@-webkit-keyframes blue-fade {
    0% {background: #b9fdfdbd;}
    100% {background: none;}
}
@keyframes blue-fade {
    0% {background: #b9fdfdbd;}
    100% {background: none;}
}

#create-saved{
    padding: 5px;
    width: 200px;
    color: #48a73d;
    background: #ffff004f;
    display: none;
}

#changes-saved{
    padding: 5px;
    width: 200px;
    color: #48a73d;
    background: #ffff004f;
    display: none;
}

#reordered-saved{
    padding: 5px;
    width: 180px;
    color: #48a73d;
    background: #ffff004f;
    display: none;
    margin:0 auto;
}

#todo-list
{
    margin-top: 40px;
}
#todo-list li
{
    padding:8px;
    background-color:#f9f9f9;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:4px;
}
#todo-list li a:hover
{
    color:red;
}
#todo-list li a span
{
    width:90%;
    display: inline-table;
}
#todo-list li.ui-state-highlight
{
    padding:18px;
    background-color:#ffffcc;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:4px;
}

.footer{
    border-top:1px solid #ccc;
    text-align: center;
    font-style: italic;
    margin-top: 100px;
}